.main_countries_card{
    width: 250px;
    border: 1px solid grey;
    padding: 16px;
    line-height: 10px;
}

.card_title{
    line-height: 18px;
}

.card_info{
    line-height: 5px;
}